.banner {
	&__bg {
		background-image: url(./hero-bg-nightsky.jpg);
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-attachment: fixed;
	}

	&__bg:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__text-wrapper {
		position: absolute;
		width: 90%;
		top: 82%;
		bottom: 5%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		padding: 15px;
		font-size: 16px;
		text-align: center;
		line-height: 1.5;
		box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.3);

		@media (min-width: 1024px) {
			top: 79%;
			width: 50%;
		}

		// @media (min-width: 1440px) {
		// 	top: 68%;
		// 	width: 50%;
		// }
	}
}

.game {
	font-family: 'Ubuntu', sans-serif;

	&__section {
		border: 2px solid grey;
		padding: 16px 12px;
		border-radius: 8px;

		@media (min-width: 1024px) {
			padding: 20px 16px;
		}
	}

	&__title {
		font-size: 21px;
		font-weight: 700;
		color: #ffd700cc;

		@media (min-width: 1024px) {
			font-size: 30px;
		}
	}

	&__score {
		font-size: 18px;
		margin-bottom: 10px;
		color: #ffd700;

		@media (min-width: 1024px) {
			font-size: 24px;
		}
	}

	&__over {
	}

	&__final-score {
	}
}

#game-container {
	position: relative;
	width: 100%;
	height: 100vh; /* or whatever height you prefer for the container */
	overflow: hidden; /* Hide words that go outside the container */
}

.word {
	&__display {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start; // Words start falling from the top
		overflow: hidden; // Words don’t overflow
	}
}

.form-control {
	border-radius: 8px;
	padding: 12px;
	font-size: 20px;
	background-color: #222;
	color: #fff;
	border: 2px solid #ffd700;
	transition: 0.3s;
	text-align: center;

	&:focus {
		border-color: #f5a623;
		box-shadow: 0 0 10px rgba(245, 166, 35, 0.5);
	}
}

.btn {
	&-primary {
		background-color: #f5a623;
		border: none;
		padding: 10px 20px;
		font-size: 16px;

		&:hover {
			background-color: #d88a15;
		}
	}

	&-danger {
		margin-bottom: 10px;
	}
}

.falling-word {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 32px;

	color: #fff;
	animation: fall 10s linear forwards; // Will fall down in 5s
}

@keyframes fall {
	from {
		top: 0;
	}
	to {
		top: 100%;
	}
}
